
<footer>
    <section class="container" id="footer">
        <div class="row justify-content-center">
            <h2 class="my-5">Centre'Auto'Ccas</h2>
        </div>
        <app-info-site></app-info-site>
        <aside class="row justify-content-center">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </aside>
        <hr class="row">
        <aside id="mentionObligatoire">
            <app-obligatory-mentions></app-obligatory-mentions>
        </aside> 
    </section>
</footer>

