<header>
    <nav class="container">
        <ul class="row align-items-center justify-content-between mx-5 pl-0">
            <li class="align-self-center" style="width: 111px;">
                <app-logo-home-header></app-logo-home-header>
            </li>
            <li  class="align-self-center">
                <app-info-page-header></app-info-page-header>
            </li>
            <li  class="align-self-center">
                <app-card-account-header></app-card-account-header>
            </li>
        </ul>
    </nav>
</header>