<form action="#">
  <div class="container">
    <div class="row justify-content-between my-1 py-3 px-4">
      <div class="col-12 col-md-4 col-lg-2 my-2">
        <select class="btn" name="Mercedes" id="mark">
          <option value="">Marque</option>
          <option value="Renault">Renault</option>
          <option value="BMW">BMW</option>
          <option value="Peugeot">Peugeot</option>
          <option value="Wolkswagen">Wolkswagen</option>
        </select>
      </div>
      <div class="col-12 col-md-4 col-lg-2 my-2">
        <select class="btn" name="modele" id="model">
          <option value="">Modèle</option>
          <option value="xxx">xxx</option>
          <option value="xxx">xxx</option>
          <option value="xxx">xxx</option>
          <option value="xxx">xxx</option>
        </select>
      </div>
      <div class="col-12 col-md-4 col-lg-2 my-2">
        <select class="btn" name="energy" id="energy">
          <option value="">Energie</option>
          <option value="Essence">Essence</option>
          <option value="Diesel">Diesel</option>
          <option value="Electrique">Electrique</option>
          <option value="Hybride">Hybride</option>
        </select>
      </div>
      <div class="col-12 col-md-4 col-lg-2 my-2">
        <select class="btn" name="year" id="year">
          <option value="">Année</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
        </select>
      </div>
      <div class="col-12 col-md-4 col-lg-2 my-2">
        <select class="btn" name="kms" id="kms">
          <option value="">Kms</option>
          <option value="120 000">120 000</option>
          <option value="110 000">110 000</option>
          <option value="100 000">100 000</option>
          <option value="90 000">90 000</option>
        </select>
      </div>
      <div class="col-12 col-md-4 col-lg-2 my-2">
        <select class="btn" name="price" id="price">
          <option value="">Prix</option>
          <option value="100 000$">100 000 $</option>
          <option value="110 000$">110 000 $</option>
          <option value="120 000$">120 000 $</option>
          <option value="130 000$">130 000 $</option>
        </select>
      </div>
      <div class="col-12 offset-md-4 col-md-4 offset-lg-5 col-lg-2 my-2">
        <input class="btnSubmit" type="submit" value="Valider" />
      </div>
    </div>
  </div>
</form>
