<form 
    [formGroup] = "carsForm"
    (ngSubmit)="onSubmitSearchCars()">

   <div class="row justify-content-between px-4">
        <div class="form-group col-12 col-md-4 col-lg-2 my-2">
            <select 
                class="btn" (change)="onChangeRecoveryBrand($event)" formControlName="brandId" 
                id="brand">
                <option class="text-center" value="">Marque</option>
                <option *ngFor="let brand of brands" [value]="brand.id">{{brand.brand}}</option>
            </select>
        </div>

        <div class="form-group col-12 col-md-4 col-lg-2 my-2" id="model">
            <select class="btn" formControlName="model"  >
                <option class="text-center" value="">Modèle</option>
                <option *ngFor="let modelByBrand of modelsByBrand" [value]="modelByBrand.model">
                    {{modelByBrand.model}}
                </option>
            </select>
        </div>
        <div class="form-group col-12 col-md-4 col-lg-2 my-2">
            <select class="btn" formControlName="energy" id="energy">
            <option class="text-center" value="">Energie</option>
            <option *ngFor="let energy of energies" [value]="energy.energy">
                {{energy.energy}}
            </option>
            </select>
        </div> 
    </div>

    
    <div class="custom-slider">
        <label for="year">Années</label>
        <ngx-slider id="year" [(value)]="minYear" [(highValue)]="maxYear" [options]="optionsYears"></ngx-slider>
    </div>
    
    <div class="custom-slider">
        <label for="kms">Kilomètres</label>
        <ngx-slider id="kms" [(value)]="minKms" [(highValue)]="maxKms" [options]="optionsKms"></ngx-slider>
    </div>
    
    <div class="custom-slider">
        <label for="price">Prix</label>
        <ngx-slider id="price" [(value)]="minPrice" [(highValue)]="maxPrice" [options]="optionsPrice"></ngx-slider>
    </div>

    <div class="form-group row justify-content-between px-4">
        <button type="submit"
            class="
                col-12 offset-md-4 col-md-4 offset-lg-5 col-lg-2 my-2
                btn btn-lg btn-dark btn-block text-uppercase
                text-center
            ">
            Valider
        </button>
    </div>
  </form>
