<ul class="row text-align-center justify-content-center">
    <li class="col-12 col-md-4 col-lg-3 py-1 text-center">
        <a href="">Condition générales d'utilisation</a>
    </li>
    <li class="col-12 col-md-4 col-lg-3 py-1 text-center">
        <a href="">Politique de confidentialité</a>
    </li>
    <li class="col-12 col-md-4 col-lg-3 py-1 text-center">
        <a href="">Condition générales de ventes</a>
    </li>
    <li class="col-12 col-md-4 col-lg-3 py-1 text-center">
        <a href="">Mentions légales</a>
    </li>
    <li class="col-12 col-md-4 col-lg-2 py-1 text-center">
        <p>© Centre'Auto'Ccas</p>
    </li>
</ul>



