
<div class="row d-flex justify-content-center">
    <nav class="mt-4">
        <ul class="pagination">
            <li
                (click)="onClickPagination(currentPageNb - 1)"
                class="page-item"
                [hidden]="currentPageNb === 1">
                <a class="page-link" tabindex="-1" aria-disabled="true">Prec.</a>
            </li>

            <li 
                *ngFor="let page of nbPages"
                (click)="onClickPagination(page)"
                class="page-item"
                [ngClass] ="{'active': page === currentPageNb}">
                <a class="page-link">{{page}}</a> 
            </li>

            <li
                (click)="onClickPagination(currentPageNb + 1)"
                class="page-item"
                [hidden]="currentPageNb === nbPages.length">
                <a class="page-link">Suiv.</a>
            </li>
        </ul>
    </nav>
</div>