/* You can add global styles to this file, and also import other style files */
/* GLOBAL */

body{
    font-family: Arial, Helvetica, sans-serif;
    /* Cette valeur qui pause problème pour mon encadrement du footer. */
    /* color: white;  */
    /* background: url("../img/bkg.jpg");
    background-size: cover;
    background-position: center; */
    text-shadow: none;
  }
  
aside{
    color: white;
}

li{
    list-style: none;
}

.btn{
    background-color: blueviolet;
    color: white !important;
    font-size: 16px;
    appearance: none; 
    text-align: left;
    border-radius: 3px;
    border: 1px solid black;
    width: 100%;
}

.btnSubmit{
    background-color: red;
    color: white !important;
    font-size: 16px;
    appearance: none; 
    border: 1px solid black;;
    border-radius: 3px;
    padding: 4px 0;
    width: 100%;
}

/* FOOTER */

footer{
    background-color: #414E5F;
    padding-bottom: 10px;
}

footer section h2{
    color: white;
}

/* Title */
footer section div h2{
    border-bottom: 1px solid black;
}
/* Fin title */

footer h3{
    background-color: blueviolet;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 16px;
    padding: 7px 0;
    color: white;
}

#footer ul li ul li a{
    color: white;
}

#footer ul li ul li{
    margin-bottom: 10px;
}

footer section ul li ul li:hover{
    outline : 1px solid black;
    border-radius: 3px;
    background-color: rgba(138,43,160, 0.75);
}

footer section ul li .submenu{
    margin-bottom: 5px;
    padding-left: 0px;    
}

footer section ul li .submenu a{
    display: inline-block;
    width: 100%;
}

footer i{
    margin: 10px 10px;
    font-size: 24px;
}

footer hr{
    height: 1px;
    background-color: white;
}

footer #mentionObligatoire{
    font-size: 12px;
}

footer #mentionObligatoire ul li{
    padding: 10px 0;
}

/* HEADER */

header{
    background: #414E5F;
}

header nav{
    padding: 10px 0;
    color: white;
}

header nav ul{
    margin-bottom: 0;
}


header nav ul li img{
    height: 50px;
}

/* MAIN */

/* LIST CAR */

#listCar ul li{
    margin: 5px 5px;
    border: 1px solid grey;
    text-align: center;
    background: white;
    color: black;
}

#listCar ul li img{
    height: 150px;
    width: 220px;
}

/* FORM */

main form div div div{
    position: relative;
}

main form div div div:not(:nth-last-child(-n+4))::after{
    content: '';
    position: absolute;
    top: 12px;
    right: 25px;
    border-color: transparent;
    border-top-color: white;
    border-width: 8px;
    border-style: solid;
    /* Permet de cliquer sur l'icône du pointeur*/
    pointer-events: none; 
}
  
  main form select option{
        width: 100%;
        background-color: white;
        color: #8a2be2;
  }
  
  @media (min-width: 767px) and (max-width: 990px){
  
  }
  
  @media (max-width: 767px){
  
    /* FOOTER */
    footer section ul li ul {
      display: none;
    }
  
    footer section ul li:hover .submenu{
      display: block;
    }

    /* HEADER */
    header nav ul li:nth-of-type(1){
        display: none;
    }
    
    header nav {
        margin: 0 20px;
    }
  
  }

