
<div class="container">
    <div class="d-flex flex-column">
        <app-research-bar-car></app-research-bar-car>
        <div id="listCar" class="row justify-content-center">
            <app-card-car></app-card-car>
            <app-card-car></app-card-car>
            <app-card-car></app-card-car>
            <app-card-car></app-card-car>
            <app-card-car></app-card-car>
            <app-card-car></app-card-car>
        </div>
        <app-paging-car></app-paging-car>
    </div>
</div>
